<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>week1</key>
	<integer>0</integer>
	<key>week2</key>
	<integer>0</integer>
	<key>week3</key>
	<integer>0</integer>
	<key>week4</key>
	<integer>0</integer>
	<key>week5</key>
	<integer>0</integer>
	<key>week6</key>
	<integer>0</integer>
	<key>week7</key>
	<integer>0</integer>
	<key>week8</key>
	<integer>0</integer>
	<key>week9</key>
	<integer>0</integer>
	<key>week10</key>
	<integer>0</integer>
	<key>week11</key>
	<integer>0</integer>
	<key>week12</key>
	<integer>0</integer>
	<key>week13</key>
	<integer>0</integer>
	<key>week14</key>
	<integer>0</integer>
	<key>week15</key>
	<integer>0</integer>
	<key>week16</key>
	<integer>0</integer>
	<key>week17</key>
	<integer>0</integer>
	<key>week18</key>
	<integer>0</integer>
	<key>week19</key>
	<integer>0</integer>
	<key>week20</key>
	<integer>0</integer>
	<key>week21</key>
	<integer>0</integer>
	<key>week22</key>
	<integer>0</integer>
	<key>week23</key>
	<integer>0</integer>
	<key>week24</key>
	<integer>0</integer>
	<key>week25</key>
	<integer>0</integer>
	<key>week26</key>
	<integer>0</integer>
	<key>week27</key>
	<integer>0</integer>
	<key>week28</key>
	<integer>0</integer>
	<key>week29</key>
	<integer>0</integer>
	<key>week30</key>
	<integer>0</integer>
	<key>week31</key>
	<integer>0</integer>
	<key>week32</key>
	<integer>0</integer>
	<key>week33</key>
	<integer>0</integer>
	<key>week34</key>
	<integer>0</integer>
	<key>week35</key>
	<integer>0</integer>
	<key>week36</key>
	<integer>0</integer>
	<key>week37</key>
	<integer>0</integer>
	<key>week38</key>
	<integer>0</integer>
	<key>week39</key>
	<integer>0</integer>
	<key>week40</key>
	<integer>0</integer>
</dict>
</plist>
